@import "./container.css";

/************************************/
/*           Containers             */
/************************************/

.game-viewport {
    display: flex;
    height: 100svh;
    width: 100%;
    background-color: #faffc1;
    flex-direction: column;
    place-items: center;
    /* justify-content: space-between; */
}

.game-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    padding: 50px 0;
    justify-content: space-between;
}

/************************************/
/*           Game Start             */
/************************************/

h1 {
    text-align: center;
}

.current-word-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.letter-box {
    background-color: #fff;
    color: #000;
    font-size: 72px;
    font-weight: 600;
    height: 120px;
    width: 100px;
    text-align: center;
    line-height: 120px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); 
}

.letter-box.start-1 {
    margin-bottom: 50px;
}

.letter-box.start-2 {
    margin-top: 50px;
}

.start-btn {
    background-color: #a1c4ff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); 
    transition: all 0.25s ease-in-out;
    line-height: 26px;
}

.start-btn:hover {
    background-color: #97b8f1;
    cursor: pointer;
    transform: scale(1.1);
    line-height: 26px;
}

/************************************/
/*            In Game               */
/************************************/

.next-word {
    font-size: 24px;
    font-weight: 600;
}

.restart-btn {
    background-color: #ffa826;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); 
    transition: all 0.25s ease-in-out;
    line-height: 26px;
}

.restart-btn:hover {
    background-color: #e89922;
    cursor: pointer;
    transform: scale(1.1);
    line-height: 26px;
}

.letter-box.correct {
    background-color: #39a027;
    color: #fff;
}

.letter-box.incorrect {
    background-color: #e70f0f;
    color: #fff;
}