@import "./container.css";

.game-viewport {
    display: flex;
    height: 100svh;
    width: 100%;
    background-color: #faffc1;
    flex-direction: column;
    place-items: center;
    justify-content: flex-start;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.game-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    padding-bottom: 50px;
}

p {
    padding: 20px 0;
    margin-top: auto;
}

.start-btn {
    background-color: #a1c4ff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); 
    transition: all 0.25s ease-in-out;
}

.start-btn:hover {
    background-color: #97b8f1;
    cursor: pointer;
    transform: scale(1.1);
}